@charset "UTF-8";
/*-------------------------------------------------------*/
/* Before and After
/*-------------------------------------------------------*/
.envision-blocks-ba-slider {
  position: relative;
  overflow: hidden;
}
.envision-blocks-ba-slider:hover .envision-blocks-ba-slider__ribbon, .envision-blocks-ba-slider:focus .envision-blocks-ba-slider__ribbon {
  opacity: 1;
}
.envision-blocks-ba-slider img {
  width: 100%;
  display: block;
  max-width: none;
}
.envision-blocks-ba-slider .resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.envision-blocks-ba-slider .handle {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  margin-left: -2px;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}
.envision-blocks-ba-slider .handle::after {
  position: absolute;
  top: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  content: "⇔";
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 64px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.envision-blocks-ba-slider .handle.ba-draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height: 50px;
  font-size: 20px;
}
.envision-blocks-ba-slider .handle:after {
  background-color: var(--ebx-primary-color);
  border: 0;
  box-shadow: none;
}
.envision-blocks-ba-slider__ribbon {
  position: absolute;
  top: 48px;
  padding: 6px 12px;
  z-index: 1;
  background: var(--ebx-dark-color);
  color: #ffffff;
  opacity: 0.2;
  box-shadow: 2px 2px 12px rgba(91, 69, 32, 0.2);
  transition: opacity 0.3s ease;
}
.envision-blocks-ba-slider__ribbon--before {
  border-top-right-radius: var(--ebx-rounded--sm);
  border-bottom-right-radius: var(--ebx-rounded--sm);
  left: 0;
}
.envision-blocks-ba-slider__ribbon--after {
  right: 0;
  border-top-left-radius: var(--ebx-rounded--sm);
  border-bottom-left-radius: var(--ebx-rounded--sm);
}