/*-------------------------------------------------------*/
/* Contact Form 7
/*-------------------------------------------------------*/
.wpcf7 .ajax-loader {
  position: absolute;
}

.envision-blocks-field .wpcf7-form-control-wrap {
  display: block;
  width: 100%;
}

.wpcf7-radio .wpcf7-list-item.first {
  margin-right: 0;
}

.wpcf7-acceptance .wpcf7-list-item-label,
.wpcf7-radio .wpcf7-list-item-label {
  display: inline-block;
  margin-top: 1px;
}

.envision-blocks-form-fields-wrapper .wpcf7-acceptance {
  display: inline-block;
  margin-bottom: 16px;
}

.envision-blocks-form-fields-wrapper .wpcf7-list-item {
  margin: 0;
}

.envision-blocks-contact-form-7 .envision-blocks-field-type-submit .envision-blocks-field {
  flex-basis: auto;
}

.envision-blocks-contact-form-7-button--size-xl .envision-blocks-field-type-submit input {
  font-size: 1.125rem;
  padding: 23px 42px;
}
.envision-blocks-contact-form-7-button--size-lg .envision-blocks-field-type-submit input {
  font-size: 1rem;
  padding: 15px 40px;
}
.envision-blocks-contact-form-7-button--size-md .envision-blocks-field-type-submit input {
  font-size: 0.875rem;
  padding: 14px 30px;
}
.envision-blocks-contact-form-7-button--size-sm .envision-blocks-field-type-submit input {
  font-size: 0.875rem;
  padding: 12px 24px;
}
.envision-blocks-contact-form-7-button--align-left .envision-blocks-field-type-submit {
  justify-content: flex-start;
}
.envision-blocks-contact-form-7-button--align-center .envision-blocks-field-type-submit {
  justify-content: center;
}
.envision-blocks-contact-form-7-button--align-right .envision-blocks-field-type-submit {
  justify-content: flex-end;
}
.envision-blocks-contact-form-7-button--align-justify .envision-blocks-field-type-submit {
  justify-content: stretch;
}
.envision-blocks-contact-form-7-button--align-justify .envision-blocks-field-type-submit input {
  width: 100%;
}
.envision-blocks-contact-form-7-button--align-justify .envision-blocks-field-type-submit .envision-blocks-field {
  flex-basis: 100%;
}