/*-------------------------------------------------------*/
/* Posts
/*-------------------------------------------------------*/
.envision-blocks-posts__img-holder {
  margin-bottom: 0;
}
.envision-blocks-posts__meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 12px;
  padding: 0;
  list-style: none;
}
.envision-blocks-posts__meta li {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  margin-left: 12px;
  margin-bottom: 6px;
  color: var(--ebx-slate-400-color);
}
.envision-blocks-posts__meta a {
  color: var(--ebx-foreground-color);
}
.envision-blocks-posts__meta a:hover, .envision-blocks-posts__meta a:focus {
  color: var(--ebx-primary-color);
}
.envision-blocks-posts__meta-category a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.625rem;
  margin-bottom: 6px;
  margin-left: 6px;
}
.envision-blocks-posts__meta-author img {
  border-radius: 999px;
  margin-left: 6px;
}
.envision-blocks-posts__meta-author-name {
  vertical-align: middle;
}
.envision-blocks-posts__meta-author-url {
  display: inline-flex;
  align-items: center;
}
.envision-blocks-posts__title {
  margin-block-end: 0.5rem;
}
.envision-blocks-posts__body {
  background-color: var(--ebx-background-color);
  border: 1px solid var(--ebx-border-color);
  border-top: 0;
  border-bottom-right-radius: var(--ebx-rounded--md);
  border-bottom-left-radius: var(--ebx-rounded--md);
  padding: 5% 10%;
}
.envision-blocks-posts--featured-post .envision-blocks-entry {
  display: flex;
  flex-direction: column;
  border-radius: var(--ebx-rounded--md);
}
@media only screen and (min-width: 768px) {
  .envision-blocks-posts--featured-post .envision-blocks-entry {
    flex-direction: row;
  }
}
.envision-blocks-posts--featured-post .envision-blocks-posts__body {
  border-bottom-left-radius: var(--ebx-rounded--md);
  border: 1px solid var(--ebx-border-color);
}
@media only screen and (min-width: 768px) {
  .envision-blocks-posts--featured-post .envision-blocks-posts__body {
    border-top-left-radius: var(--ebx-rounded--md);
    border-bottom-right-radius: 0;
    width: 50%;
    padding: 10%;
  }
}
@media only screen and (min-width: 768px) {
  .envision-blocks-posts--featured-post .envision-blocks-entry__title {
    font-size: 1.75rem;
  }
}
.envision-blocks-posts--featured-post .envision-blocks-posts__img-holder {
  margin-bottom: 0;
  border-radius: 0;
}
@media only screen and (min-width: 768px) {
  .envision-blocks-posts--featured-post .envision-blocks-posts__img-holder {
    width: 50%;
  }
}
.envision-blocks-posts--featured-post .envision-blocks-entry__img {
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.envision-blocks-posts__excerpt p {
  font-size: 1rem;
}