.envision-blocks-testimonials-feed {
  column-count: 1;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 576px) {
  .envision-blocks-testimonials-feed {
    column-count: 2;
  }
}
@media only screen and (min-width: 768px) {
  .envision-blocks-testimonials-feed {
    column-count: 3;
  }
}
@media only screen and (min-width: 1025px) {
  .envision-blocks-testimonials-feed {
    column-count: 4;
    gap: 1.5rem;
  }
}
.envision-blocks-testimonials-feed__item {
  break-inside: avoid;
  margin-bottom: 1.5rem;
}
.envision-blocks-testimonials-feed__testimonial {
  border-radius: var(--ebx-rounded--md);
  overflow: hidden;
  border: 1px solid var(--ebx-border-color);
}
.envision-blocks-testimonials-feed__media-holder {
  position: relative;
  overflow: hidden;
  border-top-right-radius: var(--ebx-rounded--md);
  border-top-left-radius: var(--ebx-rounded--md);
}
.envision-blocks-testimonials-feed__video-holder::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(16px);
}
.envision-blocks-testimonials-feed__video-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 1rem;
}
.envision-blocks-testimonials-feed__video {
  display: block;
}
.envision-blocks-testimonials-feed__play-btn, .envision-blocks-testimonials-feed__pause-btn {
  display: block;
  color: #fff;
  outline: none;
  border: 0 !important;
  background-color: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
  line-height: 1;
}
.envision-blocks-testimonials-feed__play-btn:hover, .envision-blocks-testimonials-feed__play-btn:focus, .envision-blocks-testimonials-feed__pause-btn:hover, .envision-blocks-testimonials-feed__pause-btn:focus {
  color: #fff;
  outline: none;
  background-color: transparent !important;
  transform: scale(1.1);
}
.envision-blocks-testimonials-feed__pause-btn {
  display: none;
}
.envision-blocks-testimonials-feed__video-review {
  text-align: left;
}
.envision-blocks-testimonials-feed__video-review .envision-blocks-testimonials-feed__testimonial-author {
  color: #fff;
}
.envision-blocks-testimonials-feed__body {
  background-color: var(--ebx-background-color);
  padding: 1.5rem;
}
.envision-blocks-testimonials-feed__body .envision-blocks-testimonials-feed__testimonial-img {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  flex-shrink: 0;
}
.envision-blocks-testimonials-feed__body .envision-blocks-testimonials-feed__testimonial-rating {
  margin-bottom: 0.5rem;
}
.envision-blocks-testimonials-feed__testimonial-cite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid var(--ebx-border-color);
}
.envision-blocks-testimonials-feed__testimonial-text {
  font-size: 1rem;
  margin-bottom: 0;
}
.envision-blocks-testimonials-feed__testimonial-author {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0;
}
.envision-blocks-testimonials-feed__testimonial-company {
  font-size: 0.875rem;
}
.envision-blocks-testimonials-feed__testimonial-rating {
  color: #ffbe1a;
}